.catalogue {
  display: relative;
  z-index: 10;
  
  &--title {
    color: $color-gray__dark;
    font-weight: bold;
  }

  &--slider {
    padding: 40px;

    .button {
      position: absolute;
      top: 50%;
      z-index: 520;
      display: block;
      width: 50px;
      height: 50px;
      font-size: 55px;
      cursor: pointer;
      transition: all .2s linear;

      &.swiper-button-disabled {
        opacity: .5;
      }

      &.button-prev {
        left: 30px;
        right: auto;
        &:hover:not(.swiper-button-disabled) {
          left: 25px;
        }
      }
      &.button-next {
        right: 30px;
        left: auto;
        &:hover:not(.swiper-button-disabled) {
          right: 25px;
        }
      }
    }
  }
}
