.sidebar-menu {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;

    li {
      position: relative;
      a {
      	background-color: #4d5158;
      	padding: 20px 25px;
      	display: block;
      	text-decoration: none;
      	color: #fff;

        &:hover {
        	background-color: #52565d;
        	padding: 20px 25px;
        	display: block;
        	text-decoration: none;
        }
      }

      &.have-children {
        &.active {
          span {
            &:after {
              -moz-transform: rotate(90deg);
            	-o-transform: rotate(90deg);
            	-webkit-transform: rotate(90deg);
            	transform: rotate(90deg);
            }
          }
        }
        span {
          &:after {
            position: absolute;
            right: 30px;
            content: "\f054";
            color: #fff;
            transition: all .5s;
          }
        }
        ul {
  	      padding: 0px;
          li {
            position: relative;
            a {
              background-color: #3c3636;
  	          padding-left: 62px;

              &:hover {
                color: #fff;
              	background-color: #52565d;
              	padding-left: 62px;
              }
            }
          }
        }
      }
    }
  }
}
